* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.dflex {
  display: flex;
}

.justify-content {
  display: flex;
  justify-content: space-between;
}

.section-padding-y {
  padding: 50px 0px;
}

.home-container {
  max-width: 1440px;
  margin: auto;
  padding: 0 15px;
}
/* ---------------------------------------------section1 Start----------------------- */
.mainbanner {
  position: relative;
}
.mainheader {
  position: absolute;
  top: 39%;
  left: 8%;
  color: #ebe7d9;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mainheading {
  color: #ebe7d9;
  font-size: 20px;
}
.mainhead {
  color: #ebe7d9;
  font-size: 50px;
}
.mainpar {
  font-size: 20px;
  color: #ebe7d9;
  letter-spacing: 0.4px;
  font-weight: 400;
}

/* ----------------------------------section1 end --------------------------- */

/*------------------------------- section2 Start ---------------------------------------------------------------- */
.daimond-box {
  margin: 10px;
  width: 250px;
  height: auto;
  border-radius: 36px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.daimond-box:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.daimond-shap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
}

.text-daimond {
  text-align: center;
}

.fix {
  position: relative !important;
}

.owl-carousel .owl-nav {
  font-size: 30px !important;
  position: absolute;
  top: -30%;
  right: 1%;
  content: "hre";
}
/* ---------------------------------------------------section 3 start----------------------------------- */
.section3 {
  background: #f1f1f1;
}

.explore-content {
  text-align: justify;
  margin: 50px 0;
}

.img-box {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: white;
  margin-left: 30px;
  padding: 10px;
}
/* -----------------------------------------------section3 end ----------------------------------------- */
/* -----------------------------------------------section4 Start ---------------------------------------- */

.whitesection {
  background-color: #ffffff;
  padding: 3% 3%;
}
.about {
  color: #698280;
  font-weight: 400;
}

.change {
  color: #1b3634 !important;
  font-weight: 600;
}
.new {
  color: #1b3634 !important;
  font-weight: 400;
}
.mainpar {
  color: #698280;
}

/* -----------------------------------------------section4 end ---------------------------------------- */
.section5 {
  background-color: black;
  padding: 20px;
}

.section5-img {
  width: 100%;
}

.section5-img2 {
  width: 100%;
  background-color: rgb(218, 22, 22);
  height: 100%;
}
.section7 {
  gap: 24px;
}

/* --------------------------------section 8 start----------------------- */
.section8 {
  padding: 5% 0px;
  background-image: url("../Assets/001.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.handcraftext {
  color: #1b3634;
  font-size: 50px;
  font-weight: 400;
  margin-bottom:3% ;
}
.handcrafpar {
  color: #698280;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-bottom:5% ;
}

.handimage{
    margin: 18% 0px;
}

/* --------------------------------section 8 end----------------------- */

@media (min-width: 576px) {
  .img-box {
    margin-left: 0px;
  }
}

@media screen and (max-width: 575px) {
  .home-container {
    max-width: 1400px;
    margin: auto;
  }

  .explore-content h1 {
    width: 300px;
  }

  .explore-content p {
    margin: auto;
  }

  .media {
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
  }

  .img-box {
    margin-left: 0;
    width: 100%;
    max-width: 800px;
  }
}

@media screen and (max-width: 414px) {
  .daimond-box {
    margin: auto;
  }
  .section3-imf-box {
    margin: auto;
  }
  .handimage .handcraftext{
    margin:-8% 0 0 0;
    color: #EBE7D9;
    font-size: 36px;
  }
  .handcrafpar{
    font-size: 24px;
    margin: 6% 0px;
  }
  .btnbutton{
    border: 2px solid #EBE7D9;
    color:#EBE7D9 ;
  }
}

@media screen and (max-width: 375px) {
  .explore-content p {
    width: 250px;
  }

  .img-box {
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
  .handimage .handcraftext{
    margin:-8% 0 0 0;
    color: #EBE7D9;
    font-size: 38px;
  }

}
