/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

.bgcolor {
  background-color: #1b3634;
}

.nav-link {
  color: #ebe7d9 !important;
  display: flex !important;
  gap: 9px;
  align-items: center;
}

.inputbox {
  position: relative;
}

.iconsearch {
  position: absolute;
  right: 20px;
  top: 11px;
}

.nav {
  color: #698280 !important;
  font-weight: 500 !important;
  font-size: 17px !important;
  font-style: normal;
  line-height: normal;
}

.nav:hover {
  color: #1b3634 !important;
  font-weight: bold;
}

.nav-container {
  max-width: 1440px !important;
  margin: 0 auto !important;
  padding: 0 15px !important;
} */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
  padding: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

/* Media query for responsive layout */
@media screen and (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }

  .collapse {
    display: none;
    flex-basis: 100%;
  }

  .nav-container {
    flex-direction: column;
  }

  .nav-item {
    padding: 15px 0;
  }

  .collapse.show {
    display: flex;
  }
}